html, body {
    height: 100%;
}

/* Layout */
.parallax { 
    /* The image used */
    background-image: url("https://images.unsplash.com/photo-1464823063530-08f10ed1a2dd?dpr=1&auto=format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=");

    /* Set a specific height */
    height: 35px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cover {
    width: 100%;
    height: 100%;
}
.section {
    padding-top: 50px;
    height: 500px;
    width: 100%;
}

/* Head + Nav */
.header {
    height: 300px;
    width: 100%;
}
.header.overlay {
    position: absolute;
    background-color: white;
    z-index: 1040;
}
.header h1 {
    text-align: center;
}
/*.header .nav {
    margin: auto;
    display: table;
    padding-top: 20px;
}*/
#logo {
    padding: 30px 0;
}
#logo img {
    margin: auto;
}

/* Theme */
a {
    color: black;
}
a:focus, a:hover {
    color: white;
}

/*
    dark:  #3f17a0
    mid:   #8166c0
    light: #c0b3e0
*/
.navbar-theme {

}
.navbar-theme .nav>li>a:focus,
.navbar-theme .nav>li>a:hover {
    background-color: #8166c0;
}
.navbar-theme .nav > li.active > a,
.navbar-theme .nav > li.active > a {
    background-color: #3f17a0;
    color: white;
}